<div class="container">
    <h1 class="text-center">Budget Lists</h1><br/>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th>#</th>
            <th>Budget Title</th>
            <th>Monthly Income</th>
            <th>Expenses</th>
            <th>Remaining Income</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <% @budgets.each.with_index(1) do |budget, i| %>
                <tr>
                    <td><%= i %></td>
                    <td><%= link_to budget.title, user_budget_path(@user, budget) %></td>
                    <td>$<%= budget.monthly_income.round(2) %></td>
                    <td>$<%= budget.expense_total.round(2) %></td>
                    <td>$<%= budget.income_remaining.round(2) %></td>
                    <td><%= link_to  "Edit", edit_user_budget_path(@user, budget) %></td>
                    <td><%= link_to  "Delete", user_budget_path(@user, budget), method: :delete %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>