<div class="container">
  <h2>Edit Account</h2>

  <%= form_for @user, url: user_path(@user.slug), method: :patch do |f| %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: @user.email, class: "form-control", required: true %>
    </div>

    <div class="field form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autocomplete: "first_name", value: @user.first_name, class: "form-control", required: true %>
    </div>

    <div class="field form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autocomplete: "last_name", value: @user.last_name, class: "form-control", required: true %>
    </div>

    <div class="field form-group">
      <%= f.label :monthly_income %><br />
      <%= f.text_field :monthly_income, autocomplete: "monthly_income", value: @user.monthly_income, class: "form-control", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Update Account", class: "btn btn-primary" %>
    </div>
  <% end %>
  <br/>
</div>